{{ define "content" }}
<div class="main-post-content">
    <h2 class="post-detail-title">{{ .Post.Title }}</h2>

    <div class="post-meta-row post-detail-meta">
        <span class="score">{{ .Post.Likes }} points</span> by <span class="author">{{ .Post.Username }}</span>
        <span class="age">{{ .Post.CreatedAt.Format "2006-01-02 15:04" }}</span>

        <span class="separator">|</span>
        <span class="categories-list">categories: 
            {{ if .Post.Categories }}
                {{ range $i, $c := .Post.Categories }}
                    {{ if $i }}, {{ end }}<a href="/posts?category={{ $c.ID }}" class="category-link">{{ $c.Name }}</a>
                {{ end }}
            {{ else }}
                None
            {{ end }}
        </span>

        {{ if $.UserID }}
            <span class="separator">|</span>
            {{ template "like_dislike_post" .Post }}  {{ if eq $.UserID .Post.UserID }}
                <span class="separator">|</span>
                <form method="POST" action="/posts/delete" class="action-form">
                    <input type="hidden" name="post_id" value="{{ .Post.ID }}">
                    <button type="submit" class="action-link delete-button">delete</button>
                </form>
            {{ end }}
        {{ else }}
             <p class="login-prompt"><a href="/login">login to like or dislike</a></p>
        {{ end }}
    </div>

    <div class="post-body">{{ .Post.Body }}</div>

    <h3>comments</h3>
    {{ if .Error }}
        <p class="error-message">{{ .Error }}</p>
    {{ end }}
    {{ if $.UserID }}
        <form method="POST" action="/comments/create" class="hn-form comment-create-form">
            <input type="hidden" name="post_id" value="{{ .Post.ID }}">
            <textarea name="body" id="body" required maxlength="1250" class="form-input comment-textarea"></textarea>
            <button type="submit" class="button primary-button">add comment</button>
        </form>
    {{ else }}
        <p class="login-prompt"><a href="/login">login to comment</a></p>
    {{ end }}
    
    <div class="comments-list">
        {{ range .Comments }}
            {{ template "comment" . }}
        {{ else }}
            <p>No comments yet.</p>
        {{ end }}
    </div>
</div>
{{ end }}