{{ define "content" }}
<h2>register</h2>
{{ if .Error }}
    <p class="error-message">{{ .Error }}</p>
{{ end }}
<form method="POST" action="/register">
    <label for="email">email:</label>
    <input type="email" name="email" id="email" required maxlength="254" value="{{ .Email}}">
    <label for="username">username:</label>
    <input type="text" name="username" id="username" required minlength="3" maxlength="16" value="{{ .Username}}">
    <label for="password">password:</label>
    <input type="password" name="password" id="password" required minlength="8">
    <button type="submit">register</button>
</form>
<p><a href="/login">already have an account? login</a></p>
{{ end }}